body {
    background-size: cover;
    background-position: center;
}

#heading {
    font-size: 23px;
    letter-spacing: 1px;
    width: 100%;

}

.items {
    font-size: 30px;
    background-color: white;
    display: block;
    width: 50%;
    border-radius: 25px;
    color: black;
}